main::-webkit-scrollbar {
    display: none;
}

.Skills {
    color: var(--primary-accent);
}

ul{
    list-style: disc;
    margin-left: 52px;
    color: var(--primary-text);
}

.WhoAmI, .Skills, .Hobbys_Interests{
    font-size: 20px;
    margin: 16px 0 4px 0;
}

.WhoAmIDescription {
    margin-left: 32px;
    color: var(--primary-text);
}

.WhoAmI {
    color: var(--secondary-accent);
}

.Hobbys_Interests {
    color: var(--optional-first);
}

.About {
    width: 600px;
}

@media (max-width: 749px) {
    .About {
        width: 90%;
    }
}