.Projects {
    margin: 16px auto;
    height: calc(96vh - 200px);
    overflow-y: auto;
}

.ProjectLink {
    display: block;
    padding: 12px 20px;
    width: 500px;
    margin: 16px auto;
    border: 2px solid var(--outline);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.ProjectLink:hover {
    scale: 1.05;
}

.ProjectLink h1 {
    font-size: 20px;
}

.ProjectLink ul {
    padding: 0;
    margin-left: 36px;
}

.ProjectLink li {
    margin: 6px 0;
    font-size: 16px;
}

.First h1 {
    color: var(--primary-accent);
}
.Second h1 {
    color: var(--secondary-accent);
}
.Third h1 {
    color: var(--optional-first);
}

@media (max-width: 600px) {
    .ProjectLink {
        width: 90%;
    }
}