@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Arial;
}


@media (prefers-color-scheme: dark) {
  main {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  main {
    background-color: white;
    color: black;
  }
}

@media (max-width: 499px) {
  .Container {
    width: 80vw;
    margin: auto;
  }
  .Options {
    font-size: medium;
  }
}

@media (min-width: 500px) and (max-width: 999px)  {
  .Container {
    width: 90vw;
    margin: auto;
  }
}

@media (min-width: 1000px){
  .Container {
    width: 93vw;
    margin: auto;
  }
}