@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  .light-theme {
    --background: white;
    --primary-text: #333333;
    --secondary-text: #666666;
    --primary-accent: #007BFF;
    --secondary-accent: #6C757D;
    --outline: #d3d3d3;
    --buttons: #FF5722;
    --buttons-secondary: #F8F9FA;
  }
}

.dark-theme, .light-theme {
  transition: background-color 0.9s ease-in-out;
}

main, .Information {
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out, font-family 0.9s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    --background: #1E1E1E;
    --primary-text: #E0E0E0;
    --secondary-text: #B0B0B0;
    --primary-accent: #FFFFFF;
    --secondary-accent: #757575;
    --outline: #d3d3d3;
    --buttons: #FF7043;
    --buttons-secondary: #2C2C2C;
  }
}

.light-theme {
  --background: white;
  --primary-text: #333333;
  --secondary-text: #666666;
  --primary-accent: #007BFF;
  --secondary-accent: #6C757D;
  --outline: #d3d3d3;
  --buttons: #FF5722;
  --buttons-secondary: #F8F9FA;
}

.dark-theme {
  --background: #1E1E1E;
  --primary-text: #E0E0E0;
  --secondary-text: #B0B0B0;
  --primary-accent: #16DB93;
  --secondary-accent: #048BA8;
  --optional-first: #EFEA5A;
  --outline: #d3d3d3;
  --buttons: #FF7043;
  --buttons-secondary: #2C2C2C;
  --links: dodgerblue;
}

main {
  background: var(--background);
  color: var(--primary-text);
}

.Container {
  width: 88vw;
  margin-left: 6vw;
  padding-top: 2vh;
  height: 96vh;
}

.Information {
  border: 1px solid var(--outline);
}

.Light:active {
  prefers-color-scheme: light;
}

button:hover {
  opacity: 60%;
}

.Radio {
  margin: auto 4px auto 8px;
}

.Options {
  font-size: 14px;
  transform: rotate(90deg);
  display: flex;
  justify-content: end;
  width: 22px;
  bottom: 2vh;
  position: absolute;
  left: 94vw;
}

.Title {
  text-align: center;
  font-size: 40px;
  margin: 16px 0 4px 0;
  color: var(--primary-accent);
}

.Role {
  text-align: center;
  font-size: 18px;
  margin: 4px 0 8px 0;
  color: var(--secondary-accent);
}

.Radio {
  width: 10px;
}

.Information {
  transition: font-family 100s ease;
}

.Futura {
  font-family: 'Futura', sans-serif;
}

.Baskerville {
  font-family: 'Baskerville', serif;
}

.Mono {
  font-family: 'Mono', monospace;
}

p {
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
  color: var(--secondary-text);
}

form {
  width: 500px;
}

input {
  border: 1px solid var(--outline);
  color: black;
}

main::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--links);
}

@media (max-width: 499px) {

}